@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

body {
  font-family: "Poppins", sans-serif;
  background: black;
  color: white;
}
ul > li {
  cursor: pointer;
  transition: all 0.3s ease;
}
li:hover {
  color: gray;
  text-decoration: underline;
}

.hero-image {
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  @apply bg-black/70 backdrop-blur-md;
}

.navbar.scrolled::after {
  background-color: rgba(255, 255, 255, 0.1);
}